@{
    Layout = null;
    ViewBag.Title = "Faq";
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Kapi nade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Blood Donation - Activism & Campaign HTML5 Template">
    <meta name="author" content="xenioushk">
    <link rel="shortcut icon" href="~/Content/Template/images/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/css/styles.css" />
</head>



<body>

    <div id="preloader">
        <span class="margin-bottom"><img src="~/Content/Template/images/loader.gif" alt="" /></span>
    </div>

    <!--  HEADER -->

    <header class="main-header clearfix" data-sticky_header="true">

        <div class="top-bar clearfix">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <p><marquee>Dobro došli na web stranicu centra za darivanje krvi.</marquee></p>

                    </div>

                    <div class="col-md-4col-sm-12">
                        <div class="top-bar-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            @if (string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
                            {
                                <button class="btn btn-default" onclick="location.href='@Url.Action("Login", "Home")'">Sign in</button>
                                <button class="btn btn-default" onclick="location.href='@Url.Action("MainHome", "Home")'">Register</button>

                            }
                            else
                            {
                                <button class="btn btn-default" onclick="location.href='@Url.Action("Logout", "Home")'">Sign out</button>
                            }
                        </div>

                    </div>

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

        <section class="header-wrapper navgiation-wrapper">

            <div class="navbar navbar-default">
                <div class="container">


                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html"><img alt="" src="~/Content/Template/images/logo.png"></a>
                    </div>

                    @{
                        int usertypeid = 0;
                        int userid = 0;
                        string sessionusertype = Convert.ToString(Session["UserTypeID"]);
                        string userID = Convert.ToString(Session["UserID"]);

                        int.TryParse(sessionusertype, out usertypeid);
                        int.TryParse(userID, out userid);

                        <div class="navbar-collapse collapse">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li>
                                                        <a href="@Url.Content("~/Home/MainHome")">Naslovna</a>
                                                    </li>


                                                    <li>
                                                        <a href="@Url.Content("~/Finder/FinderOfDonors")">Pronađi donora</a>
                                                    </li>

                                                    @if (usertypeid == 1)
                                                    {
                                                        <li><a href="@Url.Content("~/Accounts/AllNewUserRequests")">Accounts requests</a></li>

                                                    }

                                                    @if (usertypeid == 3 || usertypeid == 4 || usertypeid == 5)
                                                    {
                                                        <li><a href="@Url.Content("~/Finder/ShowAllRequests")">All requests</a></li>

                                                    }

                                                    @if (usertypeid == 2 || usertypeid == 5)
                                                    {
                                                        <li><a href="@Url.Content("~/Finder/DonorRequests")">Seeker requests</a></li>

                                                    }


                                                    <li>
                                                        <a href="@Url.Content("~/Home/AllCampaigns")">Campaign</a>
                                                        <ul class="drop-down">

                                                            @if (usertypeid == 5)
                                                            {
                                                                <li><a href="@Url.Content("~/Home/AllCampaigns")">All Campaigns</a></li>
                                                                <li><a href="@Url.Content("~/BloodBank/AllCampaigns")">Add Campaign</a></li>
                                                                <li><a href="@Url.Content("~/BloodBank/BloodStock")">Stock</a></li>

                                                            }

                                                        </ul>
                                                    </li>


                                                    @if (usertypeid == 1)
                                                    {
                                                        <li>
                                                            <a href="#">Setting</a>
                                                            <ul class="drop-down">
                                                                <li><a href="@Url.Content("~/User/UserProfile/"+userid+"")">User Profile</a></li>
                                                                <li><a href="@Url.Content("~/AccountStatus/AllAccountStatus")">All account status</a></li>
                                                                <li><a href="@Url.Content("~/BloodGroup/AllBloodGroups")">Blood groups</a></li>
                                                                <li><a href="@Url.Content("~/CityTables/Index")">Cities</a></li>
                                                                <li><a href="@Url.Content("~/RequestType/AllRequestType")">Request type</a></li>
                                                                <li><a href="@Url.Content("~/UserType/AllUserTypes")">User type</a></li>
                                                                <li><a href="@Url.Content("~/User/AllUsers")">All Users</a></li>
                                                                <li><a href="@Url.Content("~/Home/Logout")">Sign out</a></li>

                                                            </ul>
                                                        </li>
                                                    }
                                                    else if (usertypeid > 1)
                                                    {
                                                        <li>
                                                            <a href="#">Setting</a>
                                                            <ul class="drop-down">
                                                                <li><a href="@Url.Content("~/User/UserProfile/"+userid+"")">User Profile</a></li>
                                                                <li><a href="@Url.Content("~/Home/Logout")">Sign out</a></li>

                                                            </ul>
                                                        </li>
                                                    }
                                                    @if (string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
                                                    {
                                                        <li><a href="@Url.Content("~/Home/Contact")">O nama</a></li>
                                                    }


                                                    @if (string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
                                                    {
                                                        <li><a href="@Url.Content("~/Home/Faq")">Česta pitanja</a></li>
                                                    }


                                                </ul>
                        </div>
                    }
                </div>
            </div>

        </section>

    </header> <!-- end main-header  -->
    <!--  PAGE HEADING -->




    <!--  MAIN CONTENT  -->
    <!--  PAGE HEADING -->

    <section class="page-header">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">

                    <h3>
                        FAQ
                    </h3>

                    <p class="page-breadcrumb">
                        <a href="@Url.Content("~/Home/MainHome")">Home</a> / FAQ
                    </p>


                </div>

            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section> <!-- end .page-header  -->
    <!--  SECTION FAQ -->

    <section class="section-content-block section-faq">

        <div class="container">

            <div class="row">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Česta pitanja o darivanju krvi</h2>
                    <p class="section-subheading">
                        saznaj više o darivanju krvi i kako možeš pomoći drugima.
                    </p>
                </div> <!-- end .col-sm-10  -->

            </div> <!--  end .row  -->

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="accordion">

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Šteti li darivanje krvi zdravlju ?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Darivanje krvi ne šteti zdravlju ako se provedu svi propisani postupci pri odabiru darivaoca krvi. Svaka zdrava osoba između 18 i 65 godina starosti može bez opasnosti za svoje zdravlje darovati krv, 3 do 4 puta u toku jedne godine.

                                Zdrav organizam darivaoca krvi vrlo brzo u potpunosti nadoknađuje količinu i sve sastavne dijelove darovane krvi: već unutar 24 sata organizam nadoknadi tekući dio krvi – plazmu i njene sastojke, broj trombocita i leukocita. Eritrociti se nadoknade unutar 4 do 6 sedmica.
                                Darivanje krvi najviše utječe na željezo koje se u obliku hemoglobina nalazi u eritrocitima (crvene krvne stanice).
                                Darivanjem 450 mL krvi darivalac gubi oko 200 mg željeza. Organizam nadoknađuje gubitak željeza u roku 1 do 2 mjeseca povećanom apsorpcijom iz hrane.
                                Prije svakog darivanja krvi obavezno provjeravamo zdravstveno stanje darivaoca krvi i vrijednost hemoglobinau njegovoj krvi.

                                Darivanje krvi nikako ne ugrožava zdravlje darivaoca. Darivanje krvi ujedno je i jedan oblik kontrola zdravlja darivaoca.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Može li se darivanjem krvi zaraziti od neke bolesti ?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Mogućnost zaraze u toku darivanja krvi ne postoji.
                                Sav pribor za uzimanje krvi – igle, plastične kese i ostali materijal koji se koristi pri uzimanju krvi su sterilni i za jednokratnu su upotrebu. Pribor je napravljen na način koji onemogućuje njegovu ponovnu upotrebu.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Zašto se odmah nakon darivanja krvi ne smije pušiti ?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Mnogi se pušači – darivaoci krvi ljute kada ih zamolimo da ne zapale cigaretu odmah nakon darivanja.
                                Jedna od rjeđih, ali neugodnih reakcija organizma na pušenje je kratkotrajno stiskanje (spazam) krvnih žila u mozgu. Stoga, ako se puši odmah nakon završenog darivanja krvi, kod nekih, posebno mlađih osoba, može doći do blage omaglice i mučnine. Postoji još čitav niz zdravstvenih i društvenih razloga koji pokazuju da ne bi trebalo pušiti, zar ne?
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Razvija li se ovisnost za darivanje krvi ?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Darivanje krvi ne uzrokuje ovisnost!
                                Darivanje krvi može se započeti i prestati u svako doba između 18. i 65. godine života. Darivanjem krvi ne nastaju nikakve štetne tjelesne promjene ili posljedice po organizam
                                Neki ljudi se ipak bolje osjećaju nakon što daruju krv i zato daruju krv nekoliko puta godišnje. Ta je pojava češća u osoba s blago povišenim krvnim tlakom. U tih je osoba darivanje krvi ujedno i način ublažavanja simptoma uzrokovanih blagim povišenjem krvnog tlaka, ali nije način liječenja povišenog tlaka.
                            </div>
                        </div>
                    </div>

                </div> <!-- end .col-md-6  -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="accordion2">

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Zašto otekne mjesto uboda igle kroz koju je uzeta krv ?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Uzimanje krvi izvodi se ubodom sterilnom iglom u venu lakatne jame. Darivanje traje 8 do 12 minuta i kroz to vrijeme igla se nalazi u veni. Po završetku uzimanja krvi igla se vadi, a kožu se na mjestu uboda zaštićuje . Da bi se ubrzalo zatvaranje otvora u veni, ispružena ruka se podiže u vis. U većini je slučajeva otvor u veni potpuno zatvoren u roku od par minuta i na koži ostaje samo mali trag uboda.

                                U oko 1 do 2% darivalaca krvi oko mjesta uboda nastaje oteklina s promjenom boje kože (hematom), uz osjećaj zatezanja i lagane boli. Oteklina može nastati u toku ili nakon darivanja. Uzrok otekline u toku darivanja posljedica je težeg uvođenja igle u venu ili lošeg položaja igle u veni, zbog kojeg mali dio krvi uz iglu izlazi u potkožno tkivo.

                                Oteklina koja nastane nakon darivanja uzrokovana je nedovoljnim stiskanjem (spazmom) vene ili jačim pokretima ruke. Oteklina nije opasna nuspojava darivanja krvi. Oteklina se liječi oblogom od alkohola i mirovanjem ruke. Ako se stanje ne popravi za 2 do 3 dana, potrebno je javiti se u transfuzijsku ustanovu ili liječniku opće prakse.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Zašto se neki darivaoci ne osjećaju dobro nakon darivanja krvi?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Većina zdravih osoba koje daruju krv podnosi gubitak 450 mL krvi bez ikakvih nuspojava. Nuspojave su tijekom darivanja krvi rijetkost i opažaju se u oko 3 do 5% darivanja krvi. Nuspojave se mogu pojaviti u toku darivanja, ali i do više sati nakon darivanja krvi.

                                Najčešće se javljaju blage nuspojave. Najčešći uzrok nuspojava su strah od darivanja krvi, premorenost ili neispavanost, zbog čega se organizam nije u stanju prilagoditi kratkotrajnom gubitku krvi.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"> Koliko često se može darivati krv ?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Muškarci mogu darivati punu krv svaka 3 mjeseca, a žene svaka 4 mjeseca.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default faq-box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Mora li se nakon darivanja krvi nešto pojesti i popiti ?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Posebni medicinski razlozi ne zabranjuju darivaocu da jede ili pije nakon davrianja krvi. To je oblik društvenog ponašanja.
                                <br>
                                Uobičajeno je nakon darivanja krvi sjesti u društvu drugih darivalaca i osvježiti se laganim obrokom i bezalkoholnim pićem.
                                Kroz to vrijeme darivalac je pod kontrolom zdravstvenih radnika. Želimo znati da se dobro osjećate prije nego napustite mjesto darivanja krvi.
                            </div>
                        </div>
                    </div>

                </div> <!-- end .col-md-12  -->

            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-faq -->
    <!-- CLIENT LOGO SECTION  -->

    <section class="section-client-logo section-secondary-bg">

        <div class="container wow fadeInUp">


            <div class="row">

                <div class="logo-items logo-layout-1 text-center">

                    <div class="client-logo">

                        <img src="images/logo_1.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="images/logo_2.jpg" alt="" />

                    </div>


                    <div class="client-logo">

                        <img src="images/logo_3.jpg" alt="" />

                    </div>



                    <div class="client-logo">

                        <img src="images/logo_4.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="images/logo_5.jpg" alt="" />

                    </div>



                    <div class="client-logo">

                        <img src="images/logo_6.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="images/logo_7.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="images/logo_8.jpg" alt="" />

                    </div>


                </div> <!-- end .testimonial-container  -->

            </div> <!-- end row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-client-logo -->




    <footer>

        <section class="footer-widget-area footer-widget-area-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-footer">

                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <img src="~/Content/Template/images/logo-footer.png" alt="" />
                                </div> <!--  end col-lg-3-->

                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <p align="justify">
                                        Dvije predane studentice, Minela i Merjem, udružile su snage kako bi stvorile inovativnu web aplikaciju posvećenu darivanju krvi. Njihova misija je olakšati proces doniranja krvi i povećati svijest o važnosti ove humane geste.
                                    </p>
                                </div> <!--  end .col-lg-9  -->

                            </div> <!--  end .row -->

                        </div> <!--  end .about-footer  -->

                    </div> <!--  end .col-md-12  -->

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">
                            <div class="sidebar-widget-wrapper">
                                <div class="footer-widget-header clearfix">
                                    <h3>Pretplatite se</h3>
                                </div>
                                <p align="justify">Prijavite se na redovni newsletter i budite u toku s našim najnovijim vijestima.</p>
                                <div class="footer-subscription">
                                    <p>
                                        <input id="mc4wp_email" class="form-control" required="" placeholder="Unesite svoju e-poštu" name="EMAIL" type="email">
                                    </p>
                                    <p>
                                        <input class="btn btn-default" value="Pretplatite se sad" type="submit">
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">

                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">



                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-12 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Kontaktirajte nas</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">

                                    <i class="fa fa-envelope-o fa-contact"></i> <p align="justify"><a href="#">minela.prosic.mp@gmail.com</a><br /><a href="#">hrnjicamerjem@gmail.com</a></p>

                                    <i class="fa fa-location-arrow fa-contact"></i> <p align="justify">Branislava Đurđevića bb, Bihać 77000<br />Nedima Filipovića 9, 71120 Sarajevo, BiH</p>

                                    <i class="fa fa-phone fa-contact"></i> <p align="justify">+ 037 226 086<br />+ 387 33 645 746</p>

                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .footer-widget  -->

                </div> <!--  end .col-md-4 col-sm-12 -->

            </div> <!-- end row  -->
            <!-- end .container  -->

        </section> <!--  end .footer-widget-area  -->
        <!--FOOTER CONTENT  -->

        <section class="footer-contents">

            <div class="container">

                <div class="row clearfix">

                    <div align="center">
                        <p class="copyright-text"> Copyright 2024 © Kapi nade </p>
                        <p class="copyright-text"> Design by Minela & Merjem </p>

                    </div>  <!-- end .col-sm-6  -->



                </div> <!-- end .row  -->

            </div> <!--  end .container  -->

        </section> <!--  end .footer-content  -->

    </footer>

    <!-- END FOOTER  -->
    <!-- Back To Top Button  -->

    <a id="backTop">Back To Top</a>



    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/wow.min.js"></script>
    <script src="~/Content/Template/js/jquery.backTop.min.js "></script>
    <script src="~/Content/Template/js/waypoints.min.js"></script>
    <script src="~/Content/Template/js/waypoints-sticky.min.js"></script>
    <script src="~/Content/Template/js/owl.carousel.min.js"></script>
    <script src="~/Content/Template/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Template/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/js/venobox.min.js"></script>
    <script src="~/Content/Template/js/custom-scripts.js"></script>


</body>
</html>
