
@model KapiNadeApp.Models.RegistrationMV



@{
    Layout = null;
 }



<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Kapi nade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Blood Donation - Activism & Campaign HTML5 Template">
    <meta name="author" content="xenioushk">
    <link rel="shortcut icon" href="~/Content/Template/images/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/css/styles.css" />
</head>
<body>

    <div id="preloader">
        <span class="margin-bottom"><img src="~/Content/Template/images/loader.gif" alt="" /></span>
    </div>

    <!--  HEADER -->

    <header class="main-header clearfix" data-sticky_header="true">

        <div class="top-bar clearfix">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <p><marquee>Dobro došli na web stranicu centra za darivanje krvi.</marquee></p>

                    </div>

                    <div class="col-md-4col-sm-12">
                        <div class="top-bar-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            @if (string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
                            {
                                @Html.ActionLink("Sign in", "Login", "Home", null, new { @class = "btn btn-theme" })
                            }
                            else
                            {
                                @Html.ActionLink("Sign out", "Logout", "Home", null, new { @class = "btn btn-theme" })

                            }
                        </div>

                    </div>

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

        <section class="header-wrapper navgiation-wrapper">

            <div class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html"><img alt="" src="~/Content/Template/images/logo.png"></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="drop">
                                <a href="index.html" title="Home Layout 01">Naslovna</a>
                                <ul class="drop-down">
                                    <li><a href="index.html" title="Home Layout 01">Home Layout 1</a></li>
                                    <li><a href="home-2.html" title="Home Layout 02">Home Layout 2</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html" title="About Us">O nama</a></li>



                            <li>
                                <a href="#">Campaign</a>
                                <ul class="drop-down">
                                    <li><a href="events.html">All Campaigns</a></li>
                                    <li><a href="event-single.html">Single Campaign</a></li>
                                </ul>
                            </li>

                            <li class="drop">
                                <a href="#">Pages</a>
                                <ul class="drop-down">


                                    <li><a href="faq.html" title="FAQ">FAQ</a></li>
                                    <li class="drop">
                                        <a href="#">Galerija</a>
                                        <ul class="drop-down level3">
                                            <li><a href="gallery-1.html">Layout 01</a></li>
                                            <li><a href="gallery-2.html">Layout 02</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="404.html" title="404 Page">404 Page</a></li>
                                    <li class="drop">
                                        <a href="#">Level 3</a>
                                        <ul class="drop-down level3">
                                            <li><a href="#">Level 3.1</a></li>
                                            <li><a href="#">Level 3.2</a></li>
                                            <li><a href="#">Level 3.3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>



                            <li><a href="contact.html">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>

    </header> <!-- end main-header  -->
    <!-- START FOOTER  -->
    <!--  HOME SLIDER BLOCK  -->

    <div class="slider-wrap">

        <div id="slider_1" class="owl-carousel owl-theme">

            <div class="item">
                <img src="~/Content/Template/images/home_1_slider_1.jpg" alt="img">
                <div class="slider-content text-center">
                    <div class="container">

                        <div class="slider-contents-info">
                            <h3>Poklon koji život znači</h3>
                            <h2>
                                Daruj krv i
                                <br>
                                inspiriši druge
                            </h2>
                            <a href="#" class="btn btn-slider">Daruj sad <i class="fa fa-long-arrow-right"></i></a>
                        </div> <!-- end .slider-contents-info  -->
                    </div><!-- /.slider-content -->
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Template/images/home_1_slider_1.jpg" alt="img">
                <div class="slider-content text-center">
                    <div class="container">
                        <div class="slider-contents-info">
                            <h3>Poklon koji život znači</h3>
                            <h2>
                                Daruj krv i
                                <br>
                                inspiriši druge
                            </h2>
                            <a href="#" class="btn btn-slider">Pridruži nam se <i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- /.slider-content -->
                    </div> <!-- end .slider-contents-info  -->
                </div>

            </div>
        </div>

    </div>

    <!-- HIGHLIGHT CTA  -->

    <section class="cta-section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>Pomažemo ljudima već 40 godina</h2>
                    <p>
                        Putem naše web stranice možete zakazati termin darivanja krvi. Ukoliko se registrujete, bit ćete obaviješteni kada je potrebna vaša krvna grupa.
                    </p>
                </div> <!--  end .col-md-8  -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="btn btn-cta-1" href="#">ZAKAŽI TERMIN</a>
                </div> <!--  end .col-md-4  -->
            </div> <!--  end .row  -->
        </div>
    </section>

    <!--  SECTION DONATION PROCESS -->

    <section class="section-content-block section-process">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading"><span>Postupak</span> darivanja</h2>
                    <br>
                    <p align="justify">
                        Posebna priprema za darivanje krvi nije potrebna, kao ni poseban režim nakon darivanja krvi, ali da bi se što bolje osjećali pri darivanju krvi, pogotovo ako je to prvo darivanje, određeni savjeti bi mogli da budu od koristi.
                        Preporučuje se da prije darivanja krvi osoba bude odmorna, da je prethodne noći spavala uobičajeno (dovoljno), da je uzela lagani obrok i izvjesnu količinu tečnosti.
                    </p>
                </div> <!-- end .col-sm-10  -->

            </div> <!--  end .row  -->

            <div class="row wow fadeInUp">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="process-layout">

                        <figure class="process-img">

                            <img src="~/Content/Template/images/process_1.jpg" alt="process" />
                            <div class="step">
                                <h3>1</h3>
                            </div>
                        </figure> <!-- end .process-img  -->

                        <article class="process-info">
                            <h2>Registracija</h2>
                            <p align="justify">Registracijsku formu možete popuniti na našoj web stranici. Dajete svoje osnovne podatke i ispunjavate Upitnik za darivaoce krvi koji se sastoji od niza pitanja na koje je neophodno dati iskrene odgovore jer su u funkciji brige i za zdravlje darivaoca koji želi da daruje krv kao i bolesnika kome će ta krv biti primijenjena. Svojim potpisom darivalac potvrđuje da savjesno i sa punom odgovornošću stoji iza datih odgovora. Darivanje krvi ne treba da bude odraz samo želje da se pomogne drugima, već i svijesti o potencijalnim rizicima primjene date krvi. Osoba koja želi da darivanjem krvi pomogne drugima mora biti sigurna da ovim činom neće ugroziti onoga kome želi da pomogne. Ova sigurnost se postiže edukacijom i samoisključivanjem u slučaju postojanja rizičnih stanja i ponašanja kao i iskrenim odgovorima na pitanja pri ljekarskom pregledu.</p>
                        </article>

                    </div> <!--  end .process-layout -->

                </div> <!--  end .col-lg-3 -->



                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="process-layout">

                        <figure class="process-img">
                            <img src="~/Content/Template/images/process_2.jpg" alt="process" />
                            <div class="step">
                                <h3>2</h3>
                            </div>
                        </figure> <!-- end .cau<h5 class="step">1</h5>se-img  -->

                        <article class="process-info">
                            <h2>Testiranje</h2>

                            <p align="justify">Medicinski tehničar/ka će iz kapi krvi uzetoj iz Vašeg prsta odrediti nivo hemoglobina i krvnu grupu nakon čega slijedi ljekarski pregled. Ljekar će Vam izmjeriti krvni pritisak i uzeti anamnezu, te procijeniti da li možete darivati krv.</p>
                        </article>

                    </div> <!--  end .process-layout -->

                </div> <!--  end .col-lg-3 -->


                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="process-layout">

                        <figure class="process-img">
                            <img src="~/Content/Template/images/process_3.jpg" alt="process" />
                            <div class="step">
                                <h3>3</h3>
                            </div>
                        </figure> <!-- end .process-img  -->

                        <article class="process-info">
                            <h2>Darivanje</h2>
                            <p align="justify">Iskusni medicinski tehničar odabire venu u lakatnoj jami i bezbolno uvodi iglu u venu. Proces darivanja krvi obično traje maksimalno 10 minuta.</p>
                        </article>

                    </div> <!--  end .process-layout -->

                </div> <!--  end .col-lg-3 -->



                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="process-layout">

                        <figure class="process-img">
                            <img src="~/Content/Template/images/process_4.jpg" alt="process" />
                            <div class="step">
                                <h3>4</h3>
                            </div>
                        </figure> <!-- end .process-img  -->

                        <article class="process-info">
                            <h2>Zahvalni obrok</h2>
                            <p align="justify">Nakon darivanja krvi zavoj na pregibu lakta ne treba skidati sljedeća dva sata. Tog dana treba da se unosi tečnosti nešto više nego uobičajeno (za 3-4 čaše vode). Mogu se obavljati uobičajene aktivnosti. Treba izbjegavati teži fizički rad ili vježbe kao što su podizanje tereta najmanje 4 sata poslije darivanja krvi. Izbjegavati žurbu, pušenje bar 2 sata, alkohol bar 8 sati, dugotrajno stajanje, pregrijane prostorije. Tog dana se ne smije kretati kao vozač na dug i naporan put niti obavljati rizičan posao (npr. penjanje, rad na skeli i sl.).</p>
                        </article>

                    </div> <!--  end .process-layout -->

                </div> <!--  end .col-lg-3 -->

            </div> <!--  end .row -->

        </div> <!--  end .container  -->

    </section> <!--  end .section-process -->
    <!--  SECTION COUNTER   -->

    <section class="section-counter" data-stellar-background-ratio="0.3">

        <div class="container wow fadeInUp">

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="counter-block-1 text-center">

                        <i class="fa fa-heartbeat icon"></i>
                        <span class="counter">2578</span>
                        <h4>Osmijeha</h4>

                    </div>

                </div> <!--  end .col-lg-3  -->

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="counter-block-1 text-center">

                        <i class="fa fa-stethoscope icon"></i>
                        <span class="counter">3235</span>
                        <h4>Donora</h4>

                    </div>

                </div> <!--  end .col-lg-3  -->

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="counter-block-1 text-center">

                        <i class="fa fa-users icon"></i>
                        <span class="counter">3568</span>
                        <h4>Primatelja</h4>

                    </div>

                </div> <!--  end .col-lg-3  -->

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                    <div class="counter-block-1 text-center">

                        <i class="fa fa-building icon"></i>
                        <span class="counter">1364</span>
                        <h4>Nagrada</h4>

                    </div>

                </div> <!--  end .col-lg-3  -->


            </div> <!-- end row  -->

        </div> <!--  end .container  -->

    </section> <!--  end .section-counter -->
    <!--  SECTION APPOINTMENT   -->

    <section class="section-appointment">

        <div class="container wow fadeInUp">

            <div class="row">

                <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">

                    <figure class="appointment-img">
                        <img src="~/Content/Template/images/appointment.jpg" alt="appointment image">
                    </figure>
                </div> <!--  end col-lg-6  -->


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="appointment-form-wrapper text-center clearfix">
                        <h3 class="join-heading">Registration</h3>
                        @using (Html.BeginForm("SelectUser", "Registration", FormMethod.Post, new { @class = "appoinment-form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.User.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.User.Username, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group col-md-6">
                                <div class="select-style">
                                    @Html.DropDownList("UserTypeID", null, "--Relationship--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danhger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact number" } })
                                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })

                            </div>


                            <div class="form-group col-md-6">
                                <div class="select-style">
                                    @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button id="btn_submit" class="btn-submit" type="submit">Submit</button>
                            </div>

                        }

                    </div> <!-- end .appointment-form-wrapper  -->

                </div> <!--  end .col-lg-6 -->

            </div> <!--  end .row  -->

        </div> <!--  end .container -->

    </section>  <!--  end .appointment-section  -->
    <br>
    <!-- SECTION TESTIMONIAL   -->

    <section class="section-content-block section-client-testimonial">

        <div class="container">

            <div class="testimonial-container text-center">

                <div class="col-md-10 col-md-offset-1 col-sm-12">

                    <div class="testimony-layout-1">
                        <h3 class="people-quote">Krvna grupa A</h3>
                        <p class="testimony-text">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            Ova krvna grupa je najviše rasprostranjena u Centralnoj i Istočnoj Evropi. Skoro polovina populacije u Danskoj, Norveškoj, Austriji i Ukrajini ima ovu krvnu grupu.
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>



                    </div> <!-- end .testimony-layout-1  -->

                </div> <!--  end col-md-10  -->

                <div class="col-md-10 col-md-offset-1 col-sm-12">

                    <div class="testimony-layout-1">
                        <h3 class="people-quote">Krvna grupa B</h3>
                        <p class="testimony-text">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            B krvna grupa je dosta rijetka u Evropi (oko 10%) a opet češće zastupljena u Aziji. Skoro 25% populacije u Kini ima ovu krvnu grupu. Takođe B krvna grupa je zastupljena u Indiji i drugim zemljama u Centralnoj Aziji.
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>



                    </div> <!-- end .testimony-layout-1  -->

                </div> <!--  end col-md-10  -->

                <div class="col-md-10 col-md-offset-1 col-sm-12">

                    <div class="testimony-layout-1">
                        <h3 class="people-quote">Krvna grupa O</h3>
                        <p class="testimony-text">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            O krvna grupa je najzastupljenija širom planete. Posebno je zastupljena među Aboridžinima u Australiji, keltskim narodima, kao i onima koji žive u Zapadnoj Evropi i u Americi.
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>



                    </div> <!-- end .testimony-layout-1  -->

                </div> <!--  end col-md-10  -->

                <div class="col-md-10 col-md-offset-1 col-sm-12">

                    <div class="testimony-layout-1">
                        <h3 class="people-quote">Krvna grupa AB</h3>
                        <p class="testimony-text">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            AB je najrjeđa krvna grupa i zastupljena je sa čak 10% u Japanu, Koreji i Kini dok je u drugim regionima dosta rijetko zastupljena.
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </p>



                    </div> <!-- end .testimony-layout-1  -->

                </div> <!--  end col-md-10  -->

            </div>  <!--  end .row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-client-testimonial -->
    <!-- SECTION TEAM  -->

    <section class="section-content-block section-secondary-bg section-our-team">

        <div class="container wow fadeInUp">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Naši volonteri</h2>
                    <p class="section-subheading">Volonteri koji svoje vrijeme posvećuju ispunjavanju naše misije</p>
                </div> <!-- end .col-sm-10  -->

            </div> <!-- end .row  -->

            <div class="row">

                <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

                    <div class="team-layout-1">

                        <figure class="team-member">
                            <a href="#" title="Edo Edić">
                                <img src="~/Content/Template/images/team_9.jpg" alt="EDO EDIĆ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3>Edo Edić</h3>
                            <h4>Suosnivač</h4>
                        </article>

                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team-layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->

                <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

                    <div class="team-layout-1">

                        <figure class="team-member">
                            <a href="#" title="IVA IVIĆ">
                                <img src="~/Content/Template/images/team_6.jpg" alt="IVA IVIĆ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3>Iva Ivić</h3>
                            <h4>Osnivačica</h4>
                        </article>

                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->

                <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

                    <div class="team-layout-1">

                        <figure class="team-member">
                            <a href="#" title="EMA EMIĆ">
                                <img src="~/Content/Template/images/team_7.jpg" alt="EMA EMIĆ" />
                            </a>

                        </figure> <!-- end. team-member  -->

                        <article class="team-info">
                            <h3>Ema Emić</h3>
                            <h4>Menadžerica</h4>
                        </article>
                        <div class="team-content">

                            <div class="team-social-share text-center clearfix">
                                <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                            </div> <!-- end .author-social-box  -->

                        </div>

                    </div> <!--  end team-layout-1 -->

                </div> <!--  end .col-md-4 col-sm-12  -->


            </div> <!-- end .row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-our-team -->
    <!-- SECTION CTA -->

    <section class="section-content-block cta-section-3">
        <div class="container wow fadeIn animated">
            <div class="row">
                <div class="col-md-12">
                    <div class="cta-content text-center">
                        <h2>Pridruži nam se i spasi živote</h2>
                        <a class="btn-cta-3" href="#">Postani volonter</a>
                    </div>
                </div> <!-- end .col-md-12 -->
            </div> <!-- end .row  -->
        </div> <!-- end .container  -->
    </section>   <!-- end cta-section  -->
    <!--  SECTION CAMPAIGNS   -->

    <section class="section-content-block">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Donation Campaigns</h2>
                    <p class="section-subheading">Campaigns to encourage new donors to join and existing to continue to give blood.</p>
                </div> <!-- end .col-sm-12  -->

            </div> <!-- end .row  -->


            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="event-latest">
                        <div class="row">

                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                                <div class="event-latest-thumbnail">
                                    <a href="#">
                                        <img src="~/Content/Template/images/event_1.jpg" alt="">
                                    </a>
                                </div>
                            </div> <!--  col-sm-5  -->

                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="event-details">
                                    <a class="latest-date" href="#">14 June, 2017</a>
                                    <h4 class="event-latest-title">
                                        <a href="#">World Blood Donors Day</a>
                                    </h4>
                                    <p>Every year, on 14 June, countries around the world celebrate World Blood Donor Day. The event serves to thank voluntary.</p>
                                    <div class="event-latest-details">
                                        <a class="author" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am - 3.00pm</a>
                                        <a class="comments" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</a>
                                    </div>
                                </div>
                            </div> <!--  col-sm-7  -->

                        </div>

                    </div>
                </div> <!--  col-sm-6  -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="event-latest ">

                        <div class="row">

                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                                <div class="event-latest-thumbnail">
                                    <a href="#">
                                        <img src="~/Content/Template/images/event_2.jpg" alt="">
                                    </a>
                                </div>
                            </div> <!--  col-sm-5  -->

                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="event-details">
                                    <a class="latest-date" href="#">20 Sep, 2017</a>
                                    <h4 class="event-latest-title">
                                        <a href="#">O- Blood donors needed</a>
                                    </h4>
                                    <p>O Negative blood cells are called universal meaning they can be transfused to almost any patient in need and blood cells are safest.</p>
                                    <div class="event-latest-details">
                                        <a class="author" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am - 3.00pm</a>
                                        <a class="comments" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</a>
                                    </div>
                                </div>
                            </div> <!--  col-sm-7  -->

                        </div>

                    </div>
                </div> <!--  col-sm-6  -->
            </div> <!--  end .row  -->

            <div class="row margin-bottom-30">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="event-latest">
                        <div class="row">

                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                                <div class="event-latest-thumbnail">
                                    <a href="#">
                                        <img src="~/Content/Template/images/event_3.jpg" alt="">
                                    </a>
                                </div>
                            </div> <!--  col-sm-5  -->

                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="event-details">
                                    <a class="latest-date" href="#">20 Sep, 2017</a>
                                    <h4 class="event-latest-title">
                                        <a href="#">You are Somebody Type</a>
                                    </h4>
                                    <p>Many people has same blood group like you. so donate now and bring smiles in their face and encourage others for donate blood.</p>
                                    <div class="event-latest-details">
                                        <a class="author" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am - 3.00pm</a>
                                        <a class="comments" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</a>
                                    </div>
                                </div>
                            </div> <!--  col-sm-7  -->

                        </div>
                    </div>
                </div> <!--  col-sm-6  -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="event-latest">

                        <div class="row">
                            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                                <div class="event-latest-thumbnail">
                                    <a href="#">
                                        <img src="~/Content/Template/images/event_4.jpg" alt="">
                                    </a>
                                </div>
                            </div> <!--  col-sm-5  -->

                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="event-details">
                                    <a class="latest-date" href="#">20 Sep, 2017</a>
                                    <h4 class="event-latest-title">
                                        <a href="#">Donation - Feel Real Peace</a>
                                    </h4>
                                    <p>You're the real hero because you can gift a new life for patient.So donate your blood and enjoy a precious life. Don't fear, it's really easy.</p>
                                    <div class="event-latest-details">
                                        <a class="author" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am - 3.00pm</a>
                                        <a class="comments" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i> California, USA</a>
                                    </div>
                                </div>
                            </div> <!--  col-sm-7  -->

                        </div>

                    </div>
                </div> <!--  col-sm-6  -->

            </div> <!--  end .row  -->

            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
                    <a class="btn btn-load-more" href="#">Load All Campaigns</a>
                </div>
            </div>

        </div> <!--  end .container  -->

    </section>

    <!--  SECTION GALLERY  -->

    <section class="section-content-block no-bottom-padding section-secondary-bg">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Galerija</h2>
                    <p class="section-subheading">Kampanjske fotografije našeg prestižnog volonterskog rada</p>
                </div> <!-- end .col-sm-10  -->


            </div> <!-- end .row  -->

        </div> <!--  end .container -->

        <div class="container-fluid wow fadeInUp">

            <div class="row no-padding-gallery">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_1.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_1.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a>

                </div><!-- end .col-sm-3  -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_2.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_2.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a> <!-- end .gallery-light-box  -->

                </div><!-- end .col-sm-3  -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_3.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_3.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a>

                </div><!-- end .col-sm-3  -->

            </div> <!-- end .row  -->

            <div class="row no-padding-gallery">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_4.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_4.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a> <!-- end .gallery-light-box  -->

                </div><!-- end .col-sm-3  -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_5.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_5.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a>

                </div><!-- end .col-sm-3  -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                    <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images/gallery_6.jpg">

                        <figure class="gallery-img">

                            <img src="~/Content/Template/images/gallery_6.jpg" alt="gallery image" />

                        </figure> <!-- end .gallery-img  -->

                    </a> <!-- end .gallery-light-box  -->

                </div><!-- end .col-sm-3  -->

            </div> <!-- end .row  -->

        </div><!-- end .container-fluid  -->

    </section> <!-- end .section-content-block  -->
    <!-- SECTION LOGO   -->

    <section class="section-client-logo">

        <div class="container wow fadeInUp">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Naši sponzori</h2>
                    <p class="section-subheading">Sponzori koji daju svoj vrijedan iznos za ispunjenje naše misije</p>
                </div> <!-- end .col-sm-10  -->

            </div> <!-- end .row  -->


            <div class="row">

                <div class="logo-items logo-layout-1 text-center">

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_1.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_2.jpg" alt="" />

                    </div>


                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_3.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_4.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_5.jpg" alt="" />

                    </div>


                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_6.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_7.jpg" alt="" />

                    </div>

                    <div class="client-logo">

                        <img src="~/Content/Template/images/logo_8.jpg" alt="" />

                    </div>

                </div> <!-- end .logo-items  -->

            </div> <!-- end row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-client-logo -->
    <!-- SECTION BLOG   -->




    <footer>

        <section class="footer-widget-area footer-widget-area-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-footer">

                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <img src="~/Content/Template/images/logo-footer.png" alt="" />
                                </div> <!--  end col-lg-3-->

                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <p align="justify">
                                        Dvije predane studentice, Minela i Merjem, udružile su snage kako bi stvorile inovativnu web aplikaciju posvećenu darivanju krvi. Njihova misija je olakšati proces doniranja krvi i povećati svijest o važnosti ove humane geste.
                                    </p>
                                </div> <!--  end .col-lg-9  -->

                            </div> <!--  end .row -->

                        </div> <!--  end .about-footer  -->

                    </div> <!--  end .col-md-12  -->

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">
                            <div class="sidebar-widget-wrapper">
                                <div class="footer-widget-header clearfix">
                                    <h3>Pretplatite se</h3>
                                </div>
                                <p align="justify">Prijavite se na redovni newsletter i budite u toku s našim najnovijim vijestima.</p>
                                <div class="footer-subscription">
                                    <p>
                                        <input id="mc4wp_email" class="form-control" required="" placeholder="Unesite svoju e-poštu" name="EMAIL" type="email">
                                    </p>
                                    <p>
                                        <input class="btn btn-default" value="Pretplatite se sad" type="submit">
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">

                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">



                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-12 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Kontaktirajte nas</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">

                                    <i class="fa fa-envelope-o fa-contact"></i> <p align="justify"><a href="#">minela.prosic.mp@gmail.com</a><br /><a href="#">hrnjicamerjem@gmail.com</a></p>

                                    <i class="fa fa-location-arrow fa-contact"></i> <p align="justify">Branislava Đurđevića bb, Bihać 77000<br />Nedima Filipovića 9, 71120 Sarajevo, BiH</p>

                                    <i class="fa fa-phone fa-contact"></i> <p align="justify">+ 037 226 086<br />+ 387 33 645 746</p>

                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .footer-widget  -->

                </div> <!--  end .col-md-4 col-sm-12 -->

            </div> <!-- end row  -->
            </div> <!-- end .container  -->

        </section> <!--  end .footer-widget-area  -->
        <!--FOOTER CONTENT  -->

        <section class="footer-contents">

            <div class="container">

                <div class="row clearfix">

                    <div align="center">
                        <p class="copyright-text"> Copyright 2024 © Kapi nade </p>
                        <p class="copyright-text"> Design by Minela & Merjem </p>

                    </div>  <!-- end .col-sm-6  -->



                </div> <!-- end .row  -->

            </div> <!--  end .container  -->

        </section> <!--  end .footer-content  -->

    </footer>

    <!-- END FOOTER  -->
    <!-- Back To Top Button  -->

    <a id="backTop">Back To Top</a>

    <script type="text/javascript">
            @*alert('@ViewData["Message"]');*@
    </script>


    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/wow.min.js"></script>
    <script src="~/Content/Template/js/jquery.backTop.min.js "></script>
    <script src="~/Content/Template/js/waypoints.min.js"></script>
    <script src="~/Content/Template/js/waypoints-sticky.min.js"></script>
    <script src="~/Content/Template/js/owl.carousel.min.js"></script>
    <script src="~/Content/Template/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Template/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/js/venobox.min.js"></script>
    <script src="~/Content/Template/js/custom-scripts.js"></script>


</body>
</html>