@model KapiNadeApp.Models.RegistrationMV
@{
    ViewBag.Title = "Hospital Registration";
}


<div class="appointment-form-wrapper text-center clearfix">
    <h3 class="join-heading join-heading-alt">Registracijska forma za bolnicu</h3>
    @using (Html.BeginForm("HospitalUser", "Registration", FormMethod.Post, new { @class = "appoinment-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "*Sva polja obavezno ispuniti", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.UserID)
        @Html.HiddenFor(model => model.User.Username)
        @Html.HiddenFor(model => model.User.Password)
        @Html.HiddenFor(model => model.User.AccountStatus)
        @Html.HiddenFor(model => model.User.AccountStatusID)
        @Html.HiddenFor(model => model.User.Email)
        <div class="form-group col-md-6">
            <label style="float:left;">Unesite ime bolnice:</label>
            @Html.EditorFor(model => model.Hospital.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "text" } })
        </div>

        <div class="form-group col-md-6">
            <label style="float:left;">Unesite adresu bolnice:</label>
            @Html.EditorFor(model => model.Hospital.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "text" } })
        </div>

        <div class="form-group col-md-6">
            <label style="float:left;">Odaberite grad u kojem se bolnica nalazi:</label>
            <div class="select-style">
                @Html.DropDownList("CityID", null, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label style="float:left;">Unesite broj telefona bolnice:</label>
            @Html.EditorFor(model => model.Hospital.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
        </div>

        <div class="form-group col-md-6">
            <label style="float:left;">Unesite kontaktni mail bolnice:</label>
            @Html.EditorFor(model => model.Hospital.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "email" } })
        </div>


        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button id="btn_submit" class="btn-submit" type="submit">Pošalji</button>
        </div>

    }

</div>