@model KapiNadeApp.Models.RegistrationMV

@{
    ViewBag.Title = "Edit Profile";
}

@{

    <style>
        dt {
            float: left;
            clear: left;
            width: 8em;
        }

        dd {
            margin: 0 0 0 9em;
            padding: 0 0 2.5em 0;
        }
    </style>

<div class="col-md-12">

    <div class="contact-form-block">

        <h2 class="contact-title">Uredi profil</h2>

        <div>
            @using (Html.BeginForm("EditUserProfile", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.UserTypeID);
                @Html.HiddenFor(model => model.User.UserID);
                @Html.HiddenFor(model => model.Donor.DonorID);
                @Html.HiddenFor(model => model.Seeker.SeekerID);
                @Html.HiddenFor(model => model.Hospital.HospitalID);
                @Html.HiddenFor(model => model.BloodBank.BloodBankID);




                <div class="row">
                    <h4 class="col-md-4">Uredi detalje profila</h4>
                    <div class="col-md-8" align="right">
                        <input type="submit" value="Ažuriraj" class="btn btn-custom" />
                    </div>
                </div>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Korisničko ime:
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.User.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.Username, "", new { @class = "text-danger" })
                    </dd>

                    <dt>
                        E-mail za prijavu:
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                    </dd>


                </dl>
                <hr />

                if (Model.Hospital.HospitalID > 0)
                {



                    <h4>Uredi detalje profila bolnice</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Ime:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Hospital.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hospital.Name, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Adresa:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Hospital.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hospital.Address, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Grad:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("CityID", null, "--Odaberi grad--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danhger" })
                            </div>
                        </dd>

                        <dt>
                            Kontakt broj:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Hospital.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hospital.ContactNumber, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Kontakt E-mail:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Hospital.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Hospital.Email, "", new { @class = "text-danger" })
                        </dd>



                    </dl>

                }
                else if (Model.Donor.DonorID > 0)
                {



                    <h4>Uredi detalje profila davaoca</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Ime
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.Name, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Prezime:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.Surname, "", new { @class = "text-danger" })
                        </dd>


                        <dt>
                            Broj kartice:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.CardNumber, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Spol:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("GenderID", null, "--Odaberi spol--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            Datum rođenja:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                        </dd>


                        <dt>
                            Krvna grupa:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("BloodGroupID", null, "--Odaberi krvnu grupu--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            Datum zadnje donacije:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.LastDonationDate, new { htmlAttributes = new { @class = "form-control" } })
                        </dd>

                        <dt>
                            Kontakt broj:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.ContactNumber, "", new { @class = "text-danger" })
                        </dd>


                        <dt>
                            Adresa:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.Address, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Grad:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("CityID", null, "--Odaberi grad--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                            </div>
                        </dd>






                        <dt>
                            Kontakt E-mail:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Donor.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Donor.Email, "", new { @class = "text-danger" })
                        </dd>




                    </dl>

                }
                else if (Model.BloodBank.BloodBankID > 0)
                {



                    <h4>Uredi detalje profila krvne banke</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Ime:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.BloodBank.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodBank.Name, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Broj telefona:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.BloodBank.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodBank.ContactNumber, "", new { @class = "text-danger" })
                        </dd>


                        <dt>
                            Adresa:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.BloodBank.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodBank.Address, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Grad:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("CityID", null, "--Odaberi grad--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            Kontakt E-mail:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.BloodBank.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodBank.Email, "", new { @class = "text-danger" })
                        </dd>




                    </dl>

                }
                else if (Model.Seeker.SeekerID > 0)
                {


                    <h4>Uredi detalje profila primaoca</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Ime:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.Name, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Prezime:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.Surname, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Broj kartice:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.CardNumber, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Spol:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("GenderID", null, "--Odaberi spol--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                            </div>
                        </dd>


                        <dt>
                            Datum rođenja:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                        </dd>

                        <dt>
                            Krvna grupa:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("BloodGroupID", null, "--Odaberi krvnu grupu--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            Kontakt broj:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.ContactNumber, "", new { @class = "text-danger" })
                        </dd>




                        <dt>
                            Adresa:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.Address, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Grad:
                        </dt>

                        <dd>
                            <div class="select-style">
                                @Html.DropDownList("CityID", null, "--Odaberi grad--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            Kontakt E-mail:
                        </dt>

                        <dd>
                            @Html.EditorFor(model => model.Seeker.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Seeker.Email, "", new { @class = "text-danger" })
                        </dd>



                    </dl>


                }
            }


        </div>
    </div>
    </div>
}