@model KapiNadeApp.Models.CollectBloodMV

@{
    ViewBag.Title ="Collect Blood";
}

@{

    <style>
        dt {
            float: left;
            clear: left;
            width: 8em;
        }

        dd {
            margin: 0 0 0 9em;
            padding: 0 0 2.5em 0;
        }
    </style>

    <div class="col-md-12">

        <div class="contact-form-block">

            <h2 class="contact-title">Unesite podatke o prikupljenoj krvi</h2>
            <div>

                <div class="row">
                    @using (Html.BeginForm("AddNewDonorByBloodBank", "Accounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">




                            <h4>Unesite podatke o davaocu</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Ime:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.Name, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Prezime:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.Surname, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Broj kartice:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.CardNumber, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Spol:
                                </dt>

                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("GenderID", null, "--Izaberite spol--", new { @class = "form-control" })
                                    </div>
                                </dd>

                                <dt>
                                    Datum rođenja:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                </dd>

                                <dt>
                                    Adresa:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.Address, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Grad:
                                </dt>

                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("CityID", null, "--Izaberite grad--", new { @class = "form-control" })
                                    </div>
                                </dd>

                                <dt>
                                    Kontakt broj:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.ContactNumber, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Kontakt E-mail:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.Email, "", new { @class = "text-danger" })
                                </dd>




                            </dl>


                            <hr />
                        </div>
                        <div class="col-md-6">
                            <h4>Unesite podatke o prikupljenoj krvi</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Krvna grupa:
                                </dt>

                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("BloodGroupID", null, "--Izaberite krvnu grupu--", new { @class = "form-control" })
                                    </div>
                                </dd>

                                <dt>
                                    Količina:
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </dd>

                                <dt>


                                </dt>
                                <dd>
                                   
                                    

                                    <div class="row">
                                        <div class="col-md-8" align="right">
                                            <input type="submit" value="Dodaj" class="btn btn-custom" />
                                        </div>
                                    </div>

                                </dd>
                            </dl>
                        </div>

                    }


                </div>

            </div>
        </div>

    </div>
}