@model IEnumerable<DatabaseLayer.UserTable>

@{
    ViewBag.Title = "AllNewUserRequests";
}

<div class="col-md-12">

    <div class="contact-form-block">

        <h2 class="contact-title">Novi korisnički zahtjevi</h2>

        <table class="table table-hover">
            <tr>
                <th>
                    Tip
                </th>
                <th>
                    Korisničko ime
                </th>
                <th>
                    E-mail za prijavu
                </th>

                <th>
                    Status
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeTable.UserType)
                    </td>
                    <td>
                       @Html.ActionLink(item.Username, "UserDetails",new {id=item.UserID})
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountStatusTable.AccountStatus)
                    </td>

                    <td>
                        @Html.ActionLink("Odobri", "UserApproved", new { id = item.UserID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Odbij", "UserRejected", new { id = item.UserID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>