@model DatabaseLayer.UserTable

@{
    ViewBag.Title = "User details";
}

<div class="col-md-12">

    <div class="contact-form-block">

        <h2 class="contact-title">Detalji o korisniku</h2>
        <div>
            <hr/>
            <h4>Korisnički podaci</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Korisničko ime:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    E-mail za prijavu:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Status:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountStatusTable.AccountStatus)
                </dd>

                <dt>
                    Tip:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTypeTable.UserType)
                </dd>

            </dl>
            <hr/>
            @{
                if (Model.HospitalTables.Count() > 0)
                {
                    foreach (var hospital in Model.HospitalTables)
                    {


                        <h4>Podaci o bolnici</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Naziv:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Name)
                            </dd>

                            <dt>
                                Adresa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Address)
                            </dd>

                            <dt>
                                Grad:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.CityTable.City)
                            </dd>

                            <dt>
                                Kontakt broj:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.ContactNumber)
                            </dd>

                            <dt>
                                Kontakt E-mail:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Email)
                            </dd>



                        </dl>
                    }
                }
                else if (Model.DonorTables.Count() > 0)
                {
                    foreach (var donor in Model.DonorTables)
                    {


                        <h4>Podaci o davaocu</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Ime:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.Name)
                            </dd>

                            <dt>
                                Prezime:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.Surname)
                            </dd>

                            <dt>
                                Broj kartice:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.CardNumber)
                            </dd>

                            <dt>
                                Spol:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.GenderTable.Gender)
                            </dd>

                            <dt>
                                Datum rođenja:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.DateOfBirth)
                            </dd>

                            <dt>
                                Krvna grupa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.BloodGroupsTable.BloodGroup)
                            </dd>

                            <dt>
                                Datum zadnje donacije:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.LastDonationDate)
                            </dd>

                            <dt>
                                Kontakt broj:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.ContactNumber)
                            </dd>


                            <dt>
                                Adresa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.Address)
                            </dd>

                            <dt>
                                Grad:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.CityTable.City)
                            </dd>

                            <dt>
                                Kontakt E-mail:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.Email)
                            </dd>





                        </dl>
                    }
                }
                else if (Model.BloodBankTables.Count() > 0)
                {
                    foreach (var bloodbank in Model.BloodBankTables)
                    {


                        <h4>Podaci o krvnoj banci</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Naziv:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Name)
                            </dd>



                            <dt>
                                Adresa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Address)
                            </dd>

                            <dt>
                                Grad:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.CityTable.City)
                            </dd>

                            <dt>
                                Kontakt broj:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.ContactNumber)
                            </dd>

                            <dt>
                                Kontakt E-mail:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Email)
                            </dd>




                        </dl>
                    }
                }
                else if (Model.SeekerTables.Count() > 0)
                {
                    foreach (var seeker in Model.SeekerTables)
                    {


                        <h4>Podaci o primaocu</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Ime:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Name)
                            </dd>

                            <dt>
                                Prezime:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Surname)
                            </dd>

                            <dt>
                                Broj kartice:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.CardNumber)
                            </dd>

                            <dt>
                                Spol:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.GenderTable.Gender)
                            </dd>


                            <dt>
                                Datum rođenja:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.DateOfBirth)
                            </dd>

                            <dt>
                                Krvna grupa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.BloodGroupsTable.BloodGroup)
                            </dd>

                            <dt>
                                Adresa:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Address)
                            </dd>

                            <dt>
                                Grad:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.CityTable.City)
                            </dd>

                            <dt>
                                Kontakt broj:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.ContactNumber)
                            </dd>

                            <dt>
                                Kontakt E-mail:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Email)
                            </dd>


                            <dt>
                                Datum registracije:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.RegistrationDate)
                            </dd>





                        </dl>
                    }
                }
            }

        </div>
        <p>
            @Html.ActionLink("Odobri", "UserApproved", new { id = Model.UserID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Odbij", "UserRejected", new { id = Model.UserID }, new { @class = "btn btn-danger" })
        </p>
        </div>
</div>