@model IEnumerable<KapiNadeApp.Models.RequestListMV>

@{
    ViewBag.Title = "Show All Requests";
}




<div class="col-md-12">

    <div class="contact-form-block">

        <h2 class="contact-title">Svi zahtjevi</h2>

        <table class="table table-hover">

            <tr>
                <th>
                    Datum zahtjeva
                </th>
                <th>
                    Podnositelj zahtjeva
                </th>
                <th>
                    Potrebna krvna grupa
                </th>
                <th>
                    Očekivani datum 
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Status
                </th>
                <th>
                    Akcija
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @item.RequestBy @item.RequestBySurname (@item.RequestType-@item.ContactNumber)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestStatus)
                    </td>

                    <td class="btn-group">
                        @if (item.RequestStatusID == 1)
                        {
                            @Html.ActionLink("Prihvati", "AcceptRequest", new { id = item.RequestID }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Otkaži", "CancelRequestByDonor", new { id = item.RequestID }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
