@model KapiNadeApp.Models.RequestMV

@{
    ViewBag.Title = "RequestForBlood";
}


<div class="col-md-6">

    <div class="contact-form-block">

        <h2 class="contact-title">Zahtjev za krv</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.AcceptedID)

            @Html.HiddenFor(model => model.AcceptedTypeID)

            @Html.HiddenFor(model => model.RequiredBloodID)
            <div class="form-group">


                Odaberite očekivani datum
                @Html.EditorFor(model => model.ExpectedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpectedDate, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                Opis zahtjeva
                @Html.EditorFor(model => model.RequestDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestDetails, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">

                <input type="submit" style="float:right;" value="Pošalji zahtjev" class="btn btn-theme" />
                @Html.ActionLink("Pronađi drugog donora", "FinderOfDonors", null, new { @class = "btn btn-theme" })
            </div>
        }

    </div>

</div>
