@model IEnumerable<KapiNadeApp.Models.BloodStockMV>

@{
    ViewBag.Title = "Stock";
}


<div class="col-md-8">

    <div class="contact-form-block">

        <h2 class="contact-title">Zalihe</h2>

        <p>

            @Html.ActionLink("Dodaj krv", "AddNewDonorByBloodBank", "Accounts", null, new { @class = "btn btn-theme" })
            @Html.ActionLink("Nova kampanja", "NewCampaign", null, new { @class = "btn btn-theme" })

        </p>

        <table class="table table-hover">
            <tr>
                <th>
                   Krvna grupa
                </th>
                <th>
                    Status
                </th>
                <th>
                   Količina
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BloodGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

